dn-jack-soa/src/main/resources/META-INF/gouyan.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.loup.com/schema/gouyan"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://code.loup.com/schema/gouyan"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"></xsd:import>
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="age" type="xsd:int"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>